<div class="grid">
  <div class="col-12">
    <div class="card mb-0">
      <div class="flex justify-content-between mb-3">
        <div>
          <span class="block text-500 font-medium mb-3">Comments</span>
          <div class="text-900 font-medium text-xl">152 Unread</div>
        </div>
        <div
          class="flex align-items-center justify-content-center bg-purple-100 border-round"
          [ngStyle]="{ width: '2.5rem', height: '2.5rem' }"
        >
          <i class="pi pi-comment text-purple-500 text-xl"></i>
        </div>
      </div>
      <span class="text-green-500 font-medium">85 </span>
      <span class="text-500">responded</span>
    </div>
  </div>

  <div class="col-12">
    <div class="card">
      <div class="flex align-items-center justify-content-between mb-4">
        <h5>Notifications</h5>
        <div>
          <button
            pButton
            label="Primary"
            [outlined]="true"
            (click)="dialogRegisterTransactionVisible = true"
          ></button>
        </div>
      </div>

      <span class="block text-600 font-medium mb-3">TODAY</span>
      <ul class="p-0 mx-0 mt-0 mb-4 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <div
            class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0"
          >
            <i class="pi pi-dollar text-xl text-blue-500"></i>
          </div>
          <span class="text-900 line-height-3"
            >Richard Jones
            <span class="text-700">
              has purchased a blue t-shirt for
              <span class="text-blue-500">79$</span></span
            >
          </span>
        </li>
        <li class="flex align-items-center py-2">
          <div
            class="w-3rem h-3rem flex align-items-center justify-content-center bg-orange-100 border-circle mr-3 flex-shrink-0"
          >
            <i class="pi pi-download text-xl text-orange-500"></i>
          </div>
          <span class="text-700 line-height-3"
            >Your request for withdrawal of
            <span class="text-blue-500 font-medium">2500$</span> has been
            initiated.</span
          >
        </li>
      </ul>

      <span class="block text-600 font-medium mb-3">YESTERDAY</span>
      <ul class="p-0 m-0 list-none">
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <div
            class="w-3rem h-3rem flex align-items-center justify-content-center bg-blue-100 border-circle mr-3 flex-shrink-0"
          >
            <i class="pi pi-dollar text-xl text-blue-500"></i>
          </div>
          <span class="text-900 line-height-3"
            >Keyser Wick
            <span class="text-700">
              has purchased a black jacket for
              <span class="text-blue-500">59$</span></span
            >
          </span>
        </li>
        <li class="flex align-items-center py-2 border-bottom-1 surface-border">
          <div
            class="w-3rem h-3rem flex align-items-center justify-content-center bg-pink-100 border-circle mr-3 flex-shrink-0"
          >
            <i class="pi pi-question text-xl text-pink-500"></i>
          </div>
          <span class="text-900 line-height-3"
            >Jane Davis<span class="text-700">
              has posted a new questions about your product.</span
            ></span
          >
        </li>
      </ul>
    </div>
  </div>
</div>

<p-dialog
  header="Edit Profile"
  [modal]="true"
  [(visible)]="dialogRegisterTransactionVisible"
  [style]="{ width: '25rem' }"
>
  <span class="p-text-secondary block mb-5">Update your information.</span>
  <div class="flex align-items-center gap-3 mb-3">
    <label for="username" class="font-semibold w-6rem">Username</label>
    <input pInputText id="username" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex align-items-center gap-3 mb-5">
    <label for="email" class="font-semibold w-6rem">Email</label>
    <input pInputText id="email" class="flex-auto" autocomplete="off" />
  </div>
  <div class="flex justify-content-end gap-2">
    <p-button
      label="Cancel"
      severity="secondary"
      (click)="dialogRegisterTransactionVisible = false"
    />
    <p-button label="Save" (click)="dialogRegisterTransactionVisible = false" />
  </div>
</p-dialog>
